set $primary_output DP-3 DP-4
set $secondary_output DP-5 DP-6 DP-7

output DP-3 pos 0 400 scale 1.5
output DP-4 pos 0 400 scale 1.5
output DP-5 pos 2560 0 transform 270 scale 1.5
output DP-6 pos 2560 0 transform 270 scale 1.5
output DP-7 pos 2560 0 transform 270 scale 1.5

#output DP-3 pos 0 400
#output DP-5 pos 3840 0 transform 270

workspace 1 output $primary_output
workspace 2 output $primary_output
workspace 3 output $primary_output
workspace 4 output $primary_output
workspace 5 output $primary_output
workspace 6 output $secondary_output
workspace 7 output $secondary_output
workspace 8 output $primary_output
workspace 9 output $primary_output
workspace 10 output $primary_output


