set $primary_output DP-2
set $secondary_output DP-3

# side monitor on the right
output DP-2 pos 1440 512
output DP-3 pos 0 0 transform 270
# side monitor on the right
#output DP-2 pos 0 512
#output DP-3 pos 2560 0 transform 270

workspace 1 output DP-2
workspace 2 output DP-2
workspace 3 output DP-2
workspace 4 output DP-2
workspace 5 output DP-2
workspace 6 output DP-3
workspace 7 output DP-3
workspace 8 output DP-2
workspace 9 output DP-2
workspace 10 output DP-2


# use "swaymsg -t get_tree" to identify apps

assign [class="Google-chrome"] workspace 1
assign [class="Slack"] workspace 10
assign [app_id="firefox"] workspace 10
assign [class="ffplay"] workspace 6
